In [47]:
import pandas as pd
import requests
import json
import html
#from config import api_key
import time
import pprint as pprint
from bs4 import BeautifulSoup as bs
import pymongo
urlomdb = "http://www.omdbapi.com/?t="
api_key = "&apikey=trilogy"
from pprint import pprint
import time

In [48]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.Movie_BO
moviescol = db.movies.find()
budgetcol=db.budget.find()
db.movies.drop()

In [49]:
years=list(range(101,400,100))
#years

In [50]:
url='https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time'
#finalurl=url+str(years[len(years)-1])
#print(finalurl)

In [51]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url)

table= pd.read_html(r.text)
df = table[0]
df

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2019,Avengers: Endgame,"$2,797,800,564","$858,373,000","$1,939,427,564"
1,2,2009,Avatar,"$2,788,701,337","$760,507,625","$2,028,193,712"
2,3,1997,Titanic,"$2,208,091,398","$659,363,944","$1,548,727,454"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,065,478,084","$936,662,225","$1,128,815,859"
4,5,2018,Avengers: Infinity War,"$2,044,540,523","$678,815,482","$1,365,725,041"
...,...,...,...,...,...,...
95,96,2016,Deadpool,"$785,025,593","$363,070,709","$421,954,884"
96,97,1977,Star Wars Ep. IV: A New Hope,"$775,398,007","$460,998,007","$314,400,000"
97,98,2014,Guardians of the Galaxy,"$770,837,078","$333,172,112","$437,664,966"
98,99,2006,The Da Vinci Code,"$767,820,459","$217,536,138","$550,284,321"
99,100,2014,The Hunger Games: Mockingjay - Part 1,"$766,575,131","$337,135,885","$429,439,246"

In [52]:
new_bdf=pd.DataFrame(list(budgetcol))

In [53]:
updatedDF = pd.merge(df,new_bdf, how='inner',  on=['Movie','Year'])

In [54]:
del updatedDF['_id']
del updatedDF['ReleaseDate']
updatedDF

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office,Budget
0,1,2019,Avengers: Endgame,"$2,797,800,564","$858,373,000","$1,939,427,564","$400,000,000"
1,2,2009,Avatar,"$2,788,701,337","$760,507,625","$2,028,193,712","$237,000,000"
2,3,1997,Titanic,"$2,208,091,398","$659,363,944","$1,548,727,454","$200,000,000"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,065,478,084","$936,662,225","$1,128,815,859","$306,000,000"
4,5,2018,Avengers: Infinity War,"$2,044,540,523","$678,815,482","$1,365,725,041","$300,000,000"
5,6,2015,Jurassic World,"$1,669,943,967","$652,270,625","$1,017,673,342","$215,000,000"
6,7,2019,The Lion King,"$1,656,141,579","$543,638,043","$1,112,503,536","$260,000,000"
7,8,2015,Furious 7,"$1,518,722,794","$353,007,020","$1,165,715,774","$190,000,000"
8,9,2012,The Avengers,"$1,515,100,211","$623,357,910","$891,742,301","$225,000,000"
9,11,2015,Avengers: Age of Ultron,"$1,396,099,202","$459,005,868","$937,093,334","$365,000,000"
10,12,2018,Black Panther,"$1,339,733,902","$700,059,566","$639,674,336","$200,000,000"
11,14,2017,Star Wars Ep. VIII: The Last Jedi,"$1,332,539,889","$620,181,382","$712,358,507","$200,000,000"
12,17,2017,Beauty and the Beast,"$1,256,143,089","$504,014,165","$752,128,924","$160,000,000"
13,18,2018,Incredibles 2,"$1,242,805,359","$608,581,744","$634,223,615","$200,000,000"
14,19,2017,The Fate of the Furious,"$1,236,703,796","$225,764,765","$1,010,939,031","$250,000,000"
15,20,2013,Iron Man 3,"$1,215,392,272","$408,992,272","$806,400,000","$200,000,000"
16,21,2015,Minions,"$1,159,631,140","$336,045,770","$823,585,370","$74,000,000"
17,22,2016,Captain America: Civil War,"$1,151,918,521","$408,084,349","$743,834,172","$250,000,000"
18,26,2011,Transformers: Dark of the Moon,"$1,123,794,079","$352,390,543","$771,403,536","$195,000,000"
19,28,2012,Skyfall,"$1,110,526,981","$304,360,277","$806,166,704","$200,000,000"
20,29,2014,Transformers: Age of Extinction,"$1,104,054,072","$245,439,076","$858,614,996","$210,000,000"
21,30,2012,The Dark Knight Rises,"$1,082,228,107","$448,139,099","$634,089,008","$230,000,000"
22,31,2019,Toy Story 4,"$1,073,394,813","$434,038,008","$639,356,805","$200,000,000"
23,32,2019,Star Wars: The Rise of Skywalker,"$1,072,944,222","$515,202,542","$557,741,680","$275,000,000"
24,34,2010,Toy Story 3,"$1,068,879,522","$415,004,880","$653,874,642","$200,000,000"
25,36,2016,Rogue One: A Star Wars Story,"$1,056,057,273","$532,177,324","$523,879,949","$200,000,000"
26,37,1993,Aladdin,"$1,046,975,814","$355,559,216","$691,416,598","$182,000,000"
27,42,2010,Alice in Wonderland,"$1,025,491,110","$334,191,110","$691,300,000","$200,000,000"
28,43,2016,Finding Dory,"$1,025,006,125","$486,295,561","$538,710,564","$200,000,000"
29,44,2012,The Hobbit: An Unexpected Journey,"$1,017,003,568","$303,003,568","$714,000,000","$200,000,000"
30,46,2008,The Dark Knight,"$999,843,611","$533,720,947","$466,122,664","$185,000,000"
31,52,2013,The Hobbit: The Desolation of Smaug,"$960,238,087","$258,241,522","$701,996,565","$250,000,000"
32,59,2009,Harry Potter and the Half-Blood Prince,"$931,554,994","$302,089,278","$629,465,716","$250,000,000"
33,62,2007,Spider-Man 3,"$894,860,230","$336,530,303","$558,329,927","$258,000,000"
34,69,2015,Spectre,"$879,500,760","$200,074,175","$679,426,585","$300,000,000"
35,71,2016,Batman v Superman: Dawn of Justice,"$872,395,091","$330,360,194","$542,034,897","$263,000,000"
36,72,2017,Guardians of the Galaxy Vol 2,"$869,113,101","$389,813,101","$479,300,000","$200,000,000"
37,74,2015,Inside Out,"$855,210,203","$356,461,711","$498,748,492","$175,000,000"
38,76,2017,Thor: Ragnarok,"$851,858,037","$315,058,289","$536,799,748","$180,000,000"
39,78,2009,Transformers: Revenge of the Fallen,"$836,519,699","$402,111,870","$434,407,829","$210,000,000"
40,84,2016,Fantastic Beasts and Where to Find Them,"$813,474,336","$234,037,575","$579,436,761","$180,000,000"
41,88,2004,Spider-Man 2,"$794,697,557","$373,524,485","$421,173,072","$200,000,000"
42,91,2013,Fast and Furious 6,"$789,300,444","$238,679,850","$550,620,594","$160,000,000"

In [55]:
updatedDF.columns = ['Rank', 'Year','Movie_Title', 'Worldwide', 'Domestic','International','Budget']
updatedDF["Movie_Title"]=updatedDF["Movie_Title"].replace({'\$': '','3D': ''}, regex=True)
updatedDF

,Rank,Year,Movie_Title,Worldwide,Domestic,International,Budget
0,1,2019,Avengers: Endgame,"$2,797,800,564","$858,373,000","$1,939,427,564","$400,000,000"
1,2,2009,Avatar,"$2,788,701,337","$760,507,625","$2,028,193,712","$237,000,000"
2,3,1997,Titanic,"$2,208,091,398","$659,363,944","$1,548,727,454","$200,000,000"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,065,478,084","$936,662,225","$1,128,815,859","$306,000,000"
4,5,2018,Avengers: Infinity War,"$2,044,540,523","$678,815,482","$1,365,725,041","$300,000,000"
5,6,2015,Jurassic World,"$1,669,943,967","$652,270,625","$1,017,673,342","$215,000,000"
6,7,2019,The Lion King,"$1,656,141,579","$543,638,043","$1,112,503,536","$260,000,000"
7,8,2015,Furious 7,"$1,518,722,794","$353,007,020","$1,165,715,774","$190,000,000"
8,9,2012,The Avengers,"$1,515,100,211","$623,357,910","$891,742,301","$225,000,000"
9,11,2015,Avengers: Age of Ultron,"$1,396,099,202","$459,005,868","$937,093,334","$365,000,000"
10,12,2018,Black Panther,"$1,339,733,902","$700,059,566","$639,674,336","$200,000,000"
11,14,2017,Star Wars Ep. VIII: The Last Jedi,"$1,332,539,889","$620,181,382","$712,358,507","$200,000,000"
12,17,2017,Beauty and the Beast,"$1,256,143,089","$504,014,165","$752,128,924","$160,000,000"
13,18,2018,Incredibles 2,"$1,242,805,359","$608,581,744","$634,223,615","$200,000,000"
14,19,2017,The Fate of the Furious,"$1,236,703,796","$225,764,765","$1,010,939,031","$250,000,000"
15,20,2013,Iron Man 3,"$1,215,392,272","$408,992,272","$806,400,000","$200,000,000"
16,21,2015,Minions,"$1,159,631,140","$336,045,770","$823,585,370","$74,000,000"
17,22,2016,Captain America: Civil War,"$1,151,918,521","$408,084,349","$743,834,172","$250,000,000"
18,26,2011,Transformers: Dark of the Moon,"$1,123,794,079","$352,390,543","$771,403,536","$195,000,000"
19,28,2012,Skyfall,"$1,110,526,981","$304,360,277","$806,166,704","$200,000,000"
20,29,2014,Transformers: Age of Extinction,"$1,104,054,072","$245,439,076","$858,614,996","$210,000,000"
21,30,2012,The Dark Knight Rises,"$1,082,228,107","$448,139,099","$634,089,008","$230,000,000"
22,31,2019,Toy Story 4,"$1,073,394,813","$434,038,008","$639,356,805","$200,000,000"
23,32,2019,Star Wars: The Rise of Skywalker,"$1,072,944,222","$515,202,542","$557,741,680","$275,000,000"
24,34,2010,Toy Story 3,"$1,068,879,522","$415,004,880","$653,874,642","$200,000,000"
25,36,2016,Rogue One: A Star Wars Story,"$1,056,057,273","$532,177,324","$523,879,949","$200,000,000"
26,37,1993,Aladdin,"$1,046,975,814","$355,559,216","$691,416,598","$182,000,000"
27,42,2010,Alice in Wonderland,"$1,025,491,110","$334,191,110","$691,300,000","$200,000,000"
28,43,2016,Finding Dory,"$1,025,006,125","$486,295,561","$538,710,564","$200,000,000"
29,44,2012,The Hobbit: An Unexpected Journey,"$1,017,003,568","$303,003,568","$714,000,000","$200,000,000"
30,46,2008,The Dark Knight,"$999,843,611","$533,720,947","$466,122,664","$185,000,000"
31,52,2013,The Hobbit: The Desolation of Smaug,"$960,238,087","$258,241,522","$701,996,565","$250,000,000"
32,59,2009,Harry Potter and the Half-Blood Prince,"$931,554,994","$302,089,278","$629,465,716","$250,000,000"
33,62,2007,Spider-Man 3,"$894,860,230","$336,530,303","$558,329,927","$258,000,000"
34,69,2015,Spectre,"$879,500,760","$200,074,175","$679,426,585","$300,000,000"
35,71,2016,Batman v Superman: Dawn of Justice,"$872,395,091","$330,360,194","$542,034,897","$263,000,000"
36,72,2017,Guardians of the Galaxy Vol 2,"$869,113,101","$389,813,101","$479,300,000","$200,000,000"
37,74,2015,Inside Out,"$855,210,203","$356,461,711","$498,748,492","$175,000,000"
38,76,2017,Thor: Ragnarok,"$851,858,037","$315,058,289","$536,799,748","$180,000,000"
39,78,2009,Transformers: Revenge of the Fallen,"$836,519,699","$402,111,870","$434,407,829","$210,000,000"
40,84,2016,Fantastic Beasts and Where to Find Them,"$813,474,336","$234,037,575","$579,436,761","$180,000,000"
41,88,2004,Spider-Man 2,"$794,697,557","$373,524,485","$421,173,072","$200,000,000"
42,91,2013,Fast and Furious 6,"$789,300,444","$238,679,850","$550,620,594","$160,000,000"

In [56]:
records=''
records = json.loads(updatedDF.to_json(orient='records'))
db.movies.insert_many(records)

In [67]:


url='https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/'
for i in range(3701,6200,100):
    url_loop = url+str(i)
    header = {
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
      "X-Requested-With": "XMLHttpRequest"
    }
    print(url_loop)
    r = requests.get(url_loop)

    table= pd.read_html(r.text)
    df = table[0]
    df.fillna(0, inplace=True)
    updatedDF = pd.merge(df,new_bdf, how='left',  on=['Movie','Year'])
    del updatedDF['_id']
    del updatedDF['ReleaseDate']
    
    updatedDF.columns = ['Rank', 'Year','Movie_Title', 'Worldwide', 'Domestic','International','Budget']
    updatedDF["Movie_Title"]=updatedDF["Movie_Title"].replace({'\$': '','3D': ''}, regex=True)
    records=''
    records = json.loads(updatedDF.to_json(orient='records'))
    db.movies.insert_many(records)
    time.sleep(2)

https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3701
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3801
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3901
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4001
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4101
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4201
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4301
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4401
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4501
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4601
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4701
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4801
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4901
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5001
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5101
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5201
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5301
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5401
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5501
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5601
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5701
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5801
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5901
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6001
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6101

In [65]:

new_bdf

,_id,Movie,Budget,ReleaseDate,Year
0,5f7e433056a69c34a8dee8ea,Avengers: Endgame,"$400,000,000","Apr 23, 2019",2019
1,5f7e433056a69c34a8dee8eb,Pirates of the Caribbean: On Stranger Tides,"$379,000,000","May 20, 2011",2011
2,5f7e433056a69c34a8dee8ec,Avengers: Age of Ultron,"$365,000,000","Apr 22, 2015",2015
3,5f7e433056a69c34a8dee8ed,Star Wars Ep. VII: The Force Awakens,"$306,000,000","Dec 16, 2015",2015
4,5f7e433056a69c34a8dee8ee,Avengers: Infinity War,"$300,000,000","Apr 25, 2018",2018
...,...,...,...,...,...
5995,5f7e43c956a69c34a8df0055,Gabriela,"$50,000","Mar 16, 2001",2008
5996,5f7e43c956a69c34a8df0056,Tiny Furniture,"$50,000","Nov 12, 2010",2007
5997,5f7e43c956a69c34a8df0057,The Signal,"$50,000","Feb 22, 2008",2016
5998,5f7e43c956a69c34a8df0058,Counting,"$50,000","Jul 31, 2015",2011
5999,5f7e43c956a69c34a8df0059,Big Things,"$50,000",Unknown,2017

In [ ]:

new_bdf

In [ ]:
moviecollect=db['movies']
query=moviecollect.find()
mdf =  pd.DataFrame(list(query))
frames=['new_bdf','mdf']
updatedDF = pd.concat([new_bdf,mdf], axis=1)
#del updatedDF['Movie_Title','_id','Rank']

In [ ]:
#moviecollect=db['movies']
#for x in moviecollect.find({},{"_id":0,"Movie_Title":1}):
#      print(x["Movie_Title"])
#movie_df = pd.DataFrame(list(moviecollect.find()))
#movie_df.tail(100)

In [ ]:
#.replace({'\$': '',',': ''}, regex=True)   source.find({'title': {'$regex':search_term}}).limit(25)
# movie_df["Total_Gross"]=movie_df["Total_Gross"].replace({'\$': '',',': ''}, regex=True)
x='\'3D\''
moviecollect=db['movies']
query=moviecollect.find({"Movie_Title": {'$regex':'3D', '$options':'i'}}).limit(10)
for x in query:
    print(x["Movie_Title"])
#moviecollect["Movie_Title"]=moviecollect["Movie_Title"].replace({'\$': '','3D': ''}, regex=True)

In [ ]:

moviecollect=db['movies']
for x in moviecollect.find({},{"_id":0,"Movie_Title":1}):
    try:
        print(x["Movie_Title"])
        mname=x["Movie_Title"]
        response = requests.get(urlomdb + mname + api_key)
        print(response.url)
        data = response.json()
        #pprint(data)
        print(data["imdbRating"])
        movieset=db.movies

        mongoadd = {}
        mongoadd=moviecollect.find({"Movie_Title":mname})
        for x in mongoadd:
                y= x["_id"]
                x["Ratings"] = data["Ratings"]
                x["Runtime"] = data["Runtime"]
                x["Genre"]=data["Genre"]
                x["Metascore"]=data["Metascore"]
                x["Production"]=data["Production"]
                x["Runtime"]=data["Runtime"]
                x["imdbID"]=data["imdbID"]
                x["imdbRating"]=data["imdbRating"]
                x["imdbVotes"]=data["imdbVotes"]
                x["Released"]=data["Released"]
                x["Poster"]=data["Poster"]
                
                print(y)
        z=db.movies.update_one({"_id":y},{"$set": x})#,upsert:True)
        time.sleep(2)
    except:
                print(x["Movie_Title"])