In [36]:
import pandas as pd

In [37]:
tempdf = pd.read_csv("data/01-01-2021.csv")

In [38]:
tempdf.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,51526,2191,41727,0.0,Afghanistan,0.000000,4.252222
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501.0,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740.0,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570.0,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017.0,Angola,53.452981,2.305328

In [39]:
tempdf.drop(["FIPS","Admin2"],axis =1,inplace=True)

In [41]:
cols=list(tempdf.columns.values)
cols =cols[0:]
cols

['Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'Combined_Key',
 'Incident_Rate',
 'Case_Fatality_Ratio']

In [27]:
df1 = pd.DataFrame(columns=cols)

In [28]:
df1

Empty DataFrame
Columns: [Province_State, Country_Region, Last_Update, Lat, Long_, Confirmed, Deaths, Recovered, Active, Combined_Key, Incident_Rate, Case_Fatality_Ratio]
Index: []

In [29]:
df1=pd.concat([df1,tempdf])

In [30]:
df1

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,FIPS,Admin2
0,NaN,Afghanistan,2021-01-02 05:22:33,33.939110,67.709953,51526,2191,41727,0.0,Afghanistan,0.000000,4.252222,NaN,NaN
1,NaN,Albania,2021-01-02 05:22:33,41.153300,20.168300,58316,1181,33634,23501.0,Albania,2026.409062,2.025173,NaN,NaN
2,NaN,Algeria,2021-01-02 05:22:33,28.033900,1.659600,99897,2762,67395,29740.0,Algeria,227.809861,2.764848,NaN,NaN
3,NaN,Andorra,2021-01-02 05:22:33,42.506300,1.521800,8117,84,7463,570.0,Andorra,10505.403482,1.034865,NaN,NaN
4,NaN,Angola,2021-01-02 05:22:33,-11.202700,17.873900,17568,405,11146,6017.0,Angola,53.452981,2.305328,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,NaN,Vietnam,2021-01-02 05:22:33,14.058324,108.277199,1474,35,1325,114.0,Vietnam,1.514302,2.374491,NaN,NaN
3972,NaN,West Bank and Gaza,2021-01-02 05:22:33,31.952200,35.233200,139223,1418,118926,18879.0,West Bank and Gaza,2729.105017,1.018510,NaN,NaN
3973,NaN,Yemen,2021-01-02 05:22:33,15.552727,48.516388,2101,610,1396,95.0,Yemen,7.044197,29.033793,NaN,NaN
3974,NaN,Zambia,2021-01-02 05:22:33,-13.133897,27.849332,20997,390,18773,1834.0,Zambia,114.213720,1.857408,NaN,NaN
3975,NaN,Zimbabwe,2021-01-02 05:22:33,-19.015438,29.154857,14084,369,11347,2368.0,Zimbabwe,94.759262,2.619994,NaN,NaN